.header {
    margin-top: 20px;
    margin-left: 150px;
}

.header h1 {
    font-size: 45px;
    font-family: cursive;
    color: aqua;
    font-weight: 800;
    margin-top: 50px;
}

* {
    margin: 0;
}

.full-width,
h1,
p {
    width: 480px;
    margin-top: 15px;
}

.imgsss {
    float: right;
    margin-right: 150px;
    width: 600px;
    height: 420px;
    border: 2px solid white;
    box-sizing: border-box;
    margin-top: 20px;

}

.imgsss:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
    box-shadow: 10px 10px 15px;
    border: 3px solid red;
    border-radius: 10px;
}

p {
    margin-top: 10px;
    font-size: 18px;
    font-display: justify;
}

.button {
    padding-top: 10px;
}

#first,
#second {
    margin-top: 20px;
    padding: 10px 15px 10px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 5px;
}

#second {
    margin-left: 15px;
    color: black;
    background-color: aqua;
}

#second:hover {
    color: white;
    background-color: black;
}

#first:hover {
    color: black;
    background-color: aqua;
}

.item {
    float: left;
    display: inline-block;
    padding: 20px;
}

.items {
    width: 400px;
    max-width: 400px;
    height: 320px;
    float: left;
    margin: 50px 15px 50px;
    background-color: aqua;
    color: black;
    padding-left: 40px;
    padding-top: 40px;


}

.items img {
    height: 80px;
    width: 80px;
}

.items p {
    width: 350px;
}

.items h3 {
    font-size: 30px;
    color: black;
    font-family: cursive;
}