.header {
    margin-top: 20px;
    margin-left: 150px;
}

.header h1 {
    font-size: 50px;
    font-family: cursive;
    color: aqua;
    font-weight: 800;
    margin-top: 50px;
}

* {
    margin: 0;
}

.full-width,
h1,
p {
    width: 500px;
}

img {
    float: right;
    margin-right: 150px;
    width: 600px;
    height: 450px;
    border: 2px solid white;
    box-sizing: border-box;
    margin-top: 20px;

}

img:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
    box-shadow: 10px 10px 15px;
    border: 3px solid red;
    border-radius: 10px;
}

p {
    margin-top: 10px;
    font-size: 18px;
    font-display: justify;
}

.button {
    padding-top: 10px;
}

#first,
#second {
    margin-top: 20px;
    padding: 10px 15px 10px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 5px;
}

#second {
    margin-left: 15px;
    color: black;
    background-color: aqua;
}

#second:hover {
    color: white;
    background-color: black;
}

#first:hover {
    color: black;
    background-color: aqua;
}